body {
	color: rgb(239, 247, 239);
	background: url("@img/фон-min.jpg") 0 0 no-repeat;
	span {
		color: rgb(48, 3, 170);
	}
}

@media (max-width: 768px) {
	span {
		font-size: 20px;
	}
}
@media (max-width: 1024px) {
	body {
		background: url("@img/фон-сайта-2-min.jpg") 0 0 no-repeat;
		color: coral;
	}
}
